<?xml version="1.0" ?>
<config>
    <modules>
        <Rockwells_LogViewer>
            <version>0.1.0</version>
        </Rockwells_LogViewer>
    </modules>
    <global>
        <models>
            <logviewer>
                <class>Rockwells_LogViewer_Model</class>
            </logviewer>
        </models>
        <blocks>
            <logviewer>
                <class>Rockwells_LogViewer_Block</class>
            </logviewer>
        </blocks>
        <helpers>
            <logviewer>
                <class>Rockwells_LogViewer_Helper</class>
            </logviewer>
        </helpers>
    </global>
    <admin>
        <routers>
            <logviewer>
                <use>admin</use>
                <args>
                    <module>Rockwells_LogViewer</module>
                    <frontName>logviewer</frontName>
                </args>
            </logviewer>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <logviewer>
                    <files>
                        <default>Rockwells_LogViewer.csv</default>
                    </files>
                </logviewer>
            </modules>
        </translate>
        <layout>
            <updates>
                <logviewer>
                    <file>logviewer/logviewer.xml</file>
                </logviewer>
            </updates>
        </layout>
        <menu>
            <system>
                <children>
                    <logviewer translate="title" module="logviewer">
                        <title>Log Viewer</title>
                        <action>logviewer/adminhtml_index</action>
                    </logviewer>
                </children>
            </system>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <logviewer>
                                            <title>Log Viewer</title>
                                        </logviewer>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
